{% load i18n %} 
{% load static %}

<head>
    <link rel="stylesheet" href="{% static "css/materialize.css" %}">
</head>

<nav class="navbar" style='background-color:teal'>
    <div class="container">
        <div class="nav left">
            <a href="/{{ CURRENT_LANGUAGE }}/" class="navbar-brand"  ><img src="{% static 'images/logo-green-white.jpg' %}"  
                height="50" width="72" style="border:0px solid black; background-color: transparent;">
            </a>
            <div class="font_AG_large">&nbsp; &nbsp;  ALGOSOFT II </div>
        
        </div>
        <div class="nav right">
            <div class="font_AG_small">
                <a href="/{{ CURRENT_LANGUAGE }}/" class="nav-link" style='color:black;'><span class="nav-link-span"><span class="u-nav">{% trans "Home" %}</span></span></a>
                <a href="/{{ CURRENT_LANGUAGE }}/about" class="nav-link" style='color:black;'><span class="nav-link-span"><span class="u-nav">{% trans "About" %}</a>
                <a href="/{{ CURRENT_LANGUAGE }}/services" class="nav-link" style='color:black;'><span class="nav-link-span"><span class="u-nav">{% trans "Services" %}</a>
                <a href="/{{ CURRENT_LANGUAGE }}/contact" class="nav-link" style='color:black;'><span class="nav-link-span"><span class="u-nav">{% trans "Contact" %}</a>
            </div>
            <form action="{% url 'set_language' %} " class="navbar-form navbar-right"  method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                <ul class="nav navbar-nav navbar-left language menu">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                            <button type="submit"
                                style="border:0px solid black; background-color: transparent;"
                                    name="language"
                                    value="{{ language.code }}"
                                    class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                {% if language.code == 'en' %}
                                    <img src="{% static 'images/English.png' %}"  height="40" width="40">
                                {% endif %}
                                {% if language.code == 'de' %}
                                    <img src="{% static 'images/Germany.png' %}" height="40" width="40">
                                {% endif %}
                            </button>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
  </nav>